<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Загрузка файла</title>
</head>
<body>
  {% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <h2>Загрузите схему в базу данных</h2>           
    <input type="file" name="myfile" class="form-control"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
    <button type="submit" class="btn btn-success" >Загрузка</button> 
                
  </form>   
{% endblock %}
</body>
</html>
 